@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #020406;
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes popUp {
  from { opacity: 0; transform: scale(0.8) translateY(50px); }
  to { opacity: 1; transform: scale(1) translateY(0); }
}
